<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sc2infoapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/appiconmin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconmin"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sc2InfoApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".TournamentCommentActivity"></activity>
        <activity android:name=".CreateTournamentActivity"/>
        <activity android:name=".EditTournamentActivity" />
        <activity android:name=".TournamentInfoActivity" />
        <activity android:name=".MatchCommentActivity" />
        <activity android:name=".HomeFilterActivity" />
        <activity android:name=".PlayerCommentActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MatchDetailActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".TeamManageActivity" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".CreateTeamActivity" />
        <activity android:name=".TeamActivity" />
        <activity android:name=".BaseCommentActivity" />
        <activity android:name=".PostComposeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>